@import "tailwindcss";

@keyframes marquee {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(-90%);
    }
}

.animate-marquee {
    animation: marquee 120s linear infinite;
    display: inline-block;
    white-space: nowrap;
}

@media (max-width: 640px) {
    @keyframes marquee-mobile {
        0% {
            transform: translateX(5%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    .animate-marquee {
        animation: marquee-mobile 120s linear infinite;
    }
}

